@model IvaETicaret.Models.Department

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <h1>Sil</h1>

    <h3>Silmek İstediğinize Eminmisiniz?</h3>
    <div>
        <h4>Bölüm</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Bölüm Adı
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            <a asp-action="Index" class="btn btn-primary">Listeye Geri Dön</a>
        </form>
    </div>
</div>

