@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Parolanızı sıfırlamak için lütfen e-postanızı kontrol edin.
</p>
