@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Parola sıfırlamayı onayla";
}

<h1>@ViewData["Title"]</h1>
<p>
    Şifreniz sıfırlandı. Lütfen <a asp-page="./Login">Giriş yapmak için tıklayınız</a>.
</p>
