@model IEnumerable<IvaETicaret.Models.Category>
<div class="col-md-3">
    <div class="card">
        <div class="list-group">
            
            @foreach (var item in Model)
            {
                <a asp-action="CategoryDetails" class="list-group-item list-group-item-action @(ViewBag.KategoriId==item.Id?"active":"")" asp-route-id="@item.Id" asp-route-departmentId="@item.DepartmentId">@item.Name</a>

            }
        </div>
    </div>
</div>